// Place all the styles related to the Produits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ligne0 { vertical-align: top; background: #aaaaaa; }
.ligne1 { vertical-align: top; background: #dddddd; }
.titreligne { color: #ff0000; }
.actionsligne { text-align: right; padding-left: 1em;}
